@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  --height: 58px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 370px;
  min-height: 100svh;
  position: relative;
  background-color: rgb(119, 119, 119);
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
  background-color: rgb(36, 36, 36);
  position: absolute;
  width: 100%;
  bottom: 0;
  height: var(--height);
}


.TabsTrigger {
  font-family: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--primary-color);
  user-select: none;
  flex-direction: column;
  gap: 0.3rem;
  padding-block: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.TabsTrigger:hover {
  background-color: var(--hover-background);
}
.TabsTrigger[data-state='active'] {
  background-color: var(--active-state);
  
}
.TabsTrigger:focus {
  position: relative;
  outline: none;
}

.TabsTrigger svg{
  width: 24px;
  aspect-ratio: 1 / 1;
}

.TabsContent {
  flex-grow: 1;
  background-color: rgb(0, 0, 0);
  outline: none;
  flex: 1;
  margin-bottom: var(--height)
}