.account-container{
    display: flex;
    flex-direction: column;
}

.account-container h1{
    color: white;
    font-family: monospace;
    padding: 0.5em;
    font-size: clamp(1rem, 4vw, 2rem);
}

.account-item ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.account-item ul li{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.7rem;
    background-color: black;
    color: white;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    position: relative;
}

.account-item ul li:hover{
    background-color: var(--hover-background);
}

.account-item ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.account-item ul li:hover::after{
    background: linear-gradient(to right, #8c0360, #9f4001, white);
}

.account-info{
    display: flex;
    flex-direction: column;
}

.account-info div{
        display: flex;
        gap: 1rem;
        width: 100%;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-family: 17px;
}

.account-info div div:first-child{
    width: 70px;
}

.account-info div div:first-child{
    color: rgb(174, 136, 48);
}

.account-item ul li:not(:first-child) div:first-child{
    width: 90px;
}

.account-item ul li:not(:first-child) div:first-child span{
    color: rgb(174, 136, 48);
}

.account-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    aspect-ratio: 1 / 1;
    padding: 0.3rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.account-btn:hover{
    background-color: var(--hover-background);
}
.account-btn svg{
    width: 24px;
    aspect-ratio: 1 / 1;
}