.sidebar{
    position: absolute;
    height: auto;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    z-index: 15;
    width: 370px;
}

.main-app-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    aspect-ratio: 1 / 1;
    padding: 0.3rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: black;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 12;
}

.main-app-btn:hover{
    background-color: var(--hover-background);
}
.main-app-btn svg{
    width: 24px;
    aspect-ratio: 1 / 1;
}

.main-app{
    background-color: green;
    min-height: 100svh;
    overflow: hidden;
}

.map-container{
    width: 100%;
    height: 100svh;
    background-color: rgb(67, 66, 66);
    position: relative;
    z-index: 10;
}
.full-height-map {
    height: 100%;
  }

.mapboxgl-map{
    z-index: 100000;
}

@media (width <= 500px){
    .sidebar{
        min-width: calc(100svw);
        min-height: calc(100svh);
    }
}