@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.add-device-dialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.add-device-dialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.add-device-dialogContent:focus {
  outline: none;
}

.add-device-dialogTitle {
  margin: 0;
  font-weight: bold;
  font-family: monospace;
  color: black;
  text-align: center;
  padding-block: 1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.add-device-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 2rem;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  background-color: rgb(96, 75, 75);
  border-radius: 100vmax;
  cursor: pointer;
  color: white;
}


.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.add-device-fieldset {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}

.add-device-fieldset .Label {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  font-weight: 400;
  justify-self: flex-start;
}

.add-device-fieldset .Input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.add-device-fieldset .Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.device-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    aspect-ratio: 1 / 1;
    padding: 0.3rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.device-btn:hover{
    background-color: var(--hover-background);
}


@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}